// Color scheme -----------------------------------

@dbg: #4A3638; // Dark background
@dhl: #5A4648; // Dark highlight
@dt2: #8A7678; // Dark bg text secondary
@dt1: #BAA6A8; // Dark bg text primary

@lbg: #FFF0F2; // Light background
@lhl: #EFE0E2; // Light highlight
@lt2: #8F8082; // Light bg text secondary
@lt1: #5F5052; // Light bg text primary

@red: #CD4679; // Red
@ora: #D9766D; // Orange
@gre: #11BF8C; // Green
@blu: #479CB5; // Blue

@mag: #DD619F; // Magenta
@yel: #D9A652; // Yellow
@cya: #5FB8B4; // Cyan
@vio: #A77CCF; // Violet

// Visual order -----------------------------------

@primary1: @mag;
@primary2: @cya;
@primary3: @yel;

@secondary1: @ora;
@secondary2: @vio;

@tertiary1: @blu;
@tertiary2: @gre;
@tertiary3: @red;

// Theme variant ----------------------------------

@text1: @lt1; // text primary
@text2: @lt2; // text secondary
@syntax-bg: @lbg; // background
@syntax-guide: @lhl; // background highlight

// Atom Base vars ---------------------------------

@syntax-fg: @text1; // text primary
@syntax-accent: @tertiary1; // cursor, markdown preview links, etc.
@syntax-selection: @syntax-guide;
@syntax-selection-gutter: @syntax-guide;
@syntax-cursor-line: fade(@syntax-selection, 26%); // needs to be semi-transparent to show serach results
